extends ../public/layout

block content
    .ui.modal.modal1
        i.close.icon
        .header
            .description
                .ui.header Emplyee details
                form.ui.form(id="addForm")
                    .field
                        label First Name
                        input(type="text", name="firstName")
                    .field
                        label Last Name
                        input(type="text", name="lastName" )
                    .field
                        label Department:
                        .ui.fluid.search.selection.dropdown
                            input(type="hidden", name="departament")
                            i.dropdown.icon
                            .default.text Select Departament
                            .menu
                                each val in company.departaments
                                    .item(data-value="" + val._id) #{val.name}
        .actions
            .ui.cancel.button Cancel
            .ui.button(id="addButton") Next
    .ui.modal.modal2
        i.close.icon
        .header
            .description
                .ui.header(id="modal2header")
                .ui.card.centered
                    a.image(href='#')
                        div(id="employeeQR")
                    .content
                        a.header.centered(id="newEmployeeName")
                        .meta(id="newEmployeeDepartament")
                            
        .actions
            .ui.cancel.button Close
    .ui.segment.clearing
        h2 #{company.name}'s Emplyees:
            button.ui.button.right.floated(id="modalOpener") New
        table.ui.celled.table
            thead
                tr
                    th Employee
                    th Hours Worked
                    th Status
                    th Details
            tbody
                each val in company.employees 
                    tr
                        td
                            h4.ui.header
                                i.mini.user.outline.middle.aligned.icon
                                .content
                                    |#{val.firstName} #{val.lastName}
                                    .sub.header
                                    | #{val.departament.name}
                        td
                            | Today: 4 | This Week: 21 | This Month: 122 | Total: 2211  
                        td.center.aligned
                            -var status = val.present ? "Present" : "Absent";
                            | #{status}
                        td.center.aligned
                            -var href = '/employees/' + val.id;
                            a.ui.button(href=href) More
    
block bottomScripts
    script(src="dest/js/qrcode.js")    
    script.
        $(function () {            
            $('.ui.dropdown').dropdown();
            
            $("#modalOpener").click(function(){
        		
        		$(".ui.modal.modal2").modal('attach events','#addButton');
        		$(".ui.modal.modal1").modal('show');
        	});
            
            $("#addButton").click(function() {
                $.ajax({
                type: "POST",
                url: "/employees/add",
                data: {
                    "firstName": $("input[name='firstName']").val(),
                    "companyId": "#{company._id}",
                    "lastName": $("input[name='lastName']").val(),
                    "departament": $("input[name='departament']").val()
                },
                success: function(data) {
                    
                    $("#modal2header").text(data.message);
                    $("#modal2employee").text(data.employee.firstName + " " + data.employee.lastName);
                    $("#newEmployeeName").text(data.employee.firstName + " " + data.employee.lastName);
                    $("#newEmployeeDepartament").text(data.employee.departament);
                    
                    var typeNumber = 4;
                    var errorCorrectionLevel = 'L';
                    var qr = qrcode(typeNumber, errorCorrectionLevel);
                    qr.addData(data.employee.employeeID)
                    qr.make()
                    document.getElementById('employeeQR').innerHTML = qr.createSvgTag();
                    
                }
                })
            })
        });
