extends ../public/layout

block content
    .ui.segment.clearing
        h2 #{company.name}'s Logs:
        table.ui.celled.table
            thead
                tr
                    th Employee
                    th Log Time
                    th Punch Type
                    th Details
            tbody
                
                each val in logs 
                    tr
                        td
                            h4.ui.header
                                i.mini.user.outline.middle.aligned.icon
                                .content
                                    |#{val.employee.firstName} #{val.employee.lastName}
                                    .sub.header
                                    | #{val.employee.departament.name}
                        td
                            | #{val.time}
                        td.center.aligned 
                            - var type = val.event == true ? "Clock-In" : "Clock-Out";
                            | #{type}
                        td.center.aligned
                            button.ui.button More
